<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Web Tokens w/ Vanilla JS</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        a {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Login with JWT App</h1>
    <a href='/users/login'>login</a>
    <a href='/users/register'>register</a>
    <a href='/users/me'>profile</a>
    <a href='/users'>see all users (admin only)</a>
</body>
</html>