<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Web Tokens w/ Vanilla JS</title>
</head>
<body>
    <h1>Welcome to the app</h1>
<p>Please login with email address and password.</p>
    <label for="email">email:</label>
    <input id="email" value='richard@house.com'><br>
    <label for="password">password:</label>
    <input id="password" value='testing'><br>
    <button id='btnLogin'>Login</button>

    <div id="token"></div>
    <button id='btnToken'>get secret message</button>
    <div id="result"></div>

      <script src="../public/js/index.js"></script>
</body>
</html>